body{
    font-family: 'Poppins','Open Sans', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url('./images/bg-intro-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#contentContainer{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 2rem;
}
/* .actionBtn{
    background-color: hsl(248, 32%, 49%);
}
.ctaButton{
    background-color: hsl(154, 59%, 51%);
}

.termsOfService{
    font-size: 12px;
    padding-top: 1rem;
    color: hsl(246, 25%, 77%);
} */