:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body{
    font-family: 'Poppins','Open Sans', sans-serif;
    background-color: var(--Red);
    background-image: url('./images/bg-intro-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

#contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayMsg {
    text-align: start;
    padding: 5rem;
}
#displayMsg h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 1.3rem 0;
}

.tryBtn{
    background-color: var(--Blue);
    box-shadow: 1px 10px 5px rgba(92, 91, 91, 0.358);
}
.tryBtn:hover{
    background-color: var(--Blue);
    opacity: 0.9;
    transition: ease-in-out 1s;
}

form{
    background-color: white;
    padding: 2rem;
}

.ctaButton{
    background-color: var(--Green);
}
.ctaButton:hover{
    background-color: var(--Green);
    opacity: 0.8;
}

.termsOfService{
    font-size: 12px;
}